.rendered {

  // underline
  .underline { 
    text-decoration: underline; 
  }
  // strikethrough
  .strikethrough {
    text-decoration: line-through;
  }

  // quote
  .quote {
    border: 1px solid black;
    margin: 10px;
    .quote-original-poster { 
      padding: 5px;
      border-bottom: 1px solid black; 
    }
    .quote-text {
      padding: 5px;
    }
  }

  // left, right, center
  @mixin align($direction) {
    width: 100%;
    text-align: $direction;
  }
  .align-left   { @include align(left); }
  .align-right  { @include align(right); }
  .align-center { @include align(center); }
}

