<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="stylesheet.css" />
<link rel="stylesheet" type="text/css" href="bbcode.css" />
<link rel="stylesheet" type="text/css" href="syntax.css" />
<h1>BBCode → HTML</h1>
<%= yield %>
