.subtitle {
  &:before { content: "("; }
  &:after  { content: ")"; }
  font-size: 75%;
  color: #999;
}
pre { margin: 0; }
textarea { width: 50%; display: block; }
.tree-ap { pre { display: inline; } }
.output {
  border: solid black 1px;
  background: white;
  padding: 10px; 
}
.group {
  background: black;
  padding: 10px;
  margin-bottom: 10px;
  h2 { 
    color: white; 
    margin: 0 0 5px 0;
  }
}
.toggleable {
  display: none;
}
table#cheatsheet {
  width: 90%;
  margin: 10px auto;
  tr:nth-child(even) { background-color: #ccc; }
  tr:nth-child(odd) { background-color: white; }
  th { 
    border-bottom: 1px solid black; 
    color: white;
    background: black;
    padding: 5px;
  }
  td {
    padding: 5px;
  }
}
#cheatsheet-panel {
  margin-top: 10px;
  background: #C1F0F6;
  padding: 10px;
}
#footer {
  border-top: 1px solid black;
  margin-top: 100px;
  padding-top: 10px;
}
